# Bỏ qua thư mục .vs
.vs/
MusicManager/.vs

# Bỏ qua tất cả nội dung trong thư mục bin
bin/
MusicManager/MusicManager/obj/Debug/net6.0/ApiEndpoints.json
MusicManager/MusicManager/obj/Debug/net6.0/MusicMan.D3AF0245.Up2Date
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.sourcelink.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.build.endpoints.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.development.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.pack.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.removed.txt
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.upToDateCheck.txt
MusicManager/MusicManager/obj/Debug/net6.0/EndpointInfo/MusicManager.json
MusicManager/MusicManager/obj/Debug/net6.0/EndpointInfo/MusicManager.OpenApiFiles.cache
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssets.props
MusicManager/MusicManager/obj/Release/net6.0/MusicMan.D3AF0245.Up2Date
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.sourcelink.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.build.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.development.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.pack.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.references.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.removed.txt
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssets.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicMan.D3AF0245.Up2Date
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.genpublishdeps.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.sourcelink.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PublishOutputs.f541a3014e.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.build.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.development.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.pack.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.publish.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.references.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Google.Apis.Auth.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Google.Apis.Core.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Google.Apis.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.AspNetCore.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.Core.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.NetCore.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.SqlServer.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.staticwebassets.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Newtonsoft.Json.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Pipelines.Sockets.Unofficial.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/StackExchange.Redis.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.CodeDom.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Management.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/ca/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/de/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/es/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/fa/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/fr/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/nb/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/nl/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/pt/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/pt-BR/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/pt-PT/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/sv/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/tr-TR/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/wwwroot/JsonAuthenFCM/mykind-19350-firebase-adminsdk-fbsvc-ba600518ef.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/wwwroot/Templates/SampleTemplate.xlsx
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/zh/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/zh-TW/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssets.props
MusicManager/MusicManager/wwwroot/JsonAuthenFCM/mykind-19350-firebase-adminsdk-fbsvc-ba600518ef.json
