# Bỏ qua thư mục .vs
.vs/
MusicManager/.vs

# Bỏ qua tất cả nội dung trong thư mục bin
bin/
MusicManager/MusicManager/obj/Debug/net6.0/ApiEndpoints.json
MusicManager/MusicManager/obj/Debug/net6.0/MusicMan.D3AF0245.Up2Date
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.sourcelink.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.build.endpoints.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.development.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.pack.json
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.removed.txt
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.upToDateCheck.txt
MusicManager/MusicManager/obj/Debug/net6.0/EndpointInfo/MusicManager.json
MusicManager/MusicManager/obj/Debug/net6.0/EndpointInfo/MusicManager.OpenApiFiles.cache
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssets.props
MusicManager/MusicManager/obj/Release/net6.0/MusicMan.D3AF0245.Up2Date
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.sourcelink.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.build.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.development.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.pack.json
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.references.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.removed.txt
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssets.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicMan.D3AF0245.Up2Date
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.genpublishdeps.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.sourcelink.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PublishOutputs.f541a3014e.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.build.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.development.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.pack.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.publish.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.references.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.upToDateCheck.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Google.Apis.Auth.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Google.Apis.Core.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Google.Apis.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.AspNetCore.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.Core.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.NetCore.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Hangfire.SqlServer.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.staticwebassets.endpoints.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Newtonsoft.Json.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Pipelines.Sockets.Unofficial.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/StackExchange.Redis.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.CodeDom.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Management.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/ca/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/de/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/es/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/fa/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/fr/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/nb/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/nl/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/pt/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/pt-BR/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/pt-PT/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/sv/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/tr-TR/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/wwwroot/JsonAuthenFCM/mykind-19350-firebase-adminsdk-fbsvc-ba600518ef.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/wwwroot/Templates/SampleTemplate.xlsx
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/zh/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/zh-TW/Hangfire.Core.resources.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.MusicManager.Microsoft.AspNetCore.StaticWebAssets.props
MusicManager/MusicManager/wwwroot/JsonAuthenFCM/mykind-19350-firebase-adminsdk-fbsvc-ba600518ef.json
MusicManager/MusicManager/obj/MusicManager.csproj.nuget.dgspec.json
MusicManager/MusicManager/obj/MusicManager.csproj.nuget.g.props
MusicManager/MusicManager/obj/MusicManager.csproj.nuget.g.targets
MusicManager/MusicManager/obj/project.assets.json
MusicManager/MusicManager/obj/project.nuget.cache
MusicManager/MusicManager/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MusicManager/MusicManager/obj/Debug/net6.0/apphost.exe
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.AssemblyInfo.cs
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.AssemblyInfoInputs.cache
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.assets.cache
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.csproj.AssemblyReference.cache
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.csproj.BuildWithSkipAnalyzers
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.csproj.CopyComplete
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.csproj.CoreCompileInputs.cache
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.csproj.FileListAbsolute.txt
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.dll
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.GeneratedMSBuildEditorConfig.editorconfig
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.genruntimeconfig.cache
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.GlobalUsings.g.cs
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.MvcApplicationPartsAssemblyInfo.cache
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.MvcApplicationPartsAssemblyInfo.cs
MusicManager/MusicManager/obj/Debug/net6.0/MusicManager.pdb
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets.build.json
MusicManager/MusicManager/obj/Debug/net6.0/ref/MusicManager.dll
MusicManager/MusicManager/obj/Debug/net6.0/refint/MusicManager.dll
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.build.MusicManager.props
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.MusicManager.props
MusicManager/MusicManager/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.MusicManager.props
MusicManager/MusicManager/obj/publish/win-x64/MusicManager.csproj.nuget.dgspec.json
MusicManager/MusicManager/obj/publish/win-x64/MusicManager.csproj.nuget.g.props
MusicManager/MusicManager/obj/publish/win-x64/MusicManager.csproj.nuget.g.targets
MusicManager/MusicManager/obj/publish/win-x64/project.assets.json
MusicManager/MusicManager/obj/publish/win-x64/project.nuget.cache
MusicManager/MusicManager/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MusicManager/MusicManager/obj/Release/net6.0/apphost.exe
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.AssemblyInfo.cs
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.AssemblyInfoInputs.cache
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.assets.cache
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.csproj.AssemblyReference.cache
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.csproj.CopyComplete
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.csproj.CoreCompileInputs.cache
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.csproj.FileListAbsolute.txt
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.GeneratedMSBuildEditorConfig.editorconfig
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.genruntimeconfig.cache
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.GlobalUsings.g.cs
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.MvcApplicationPartsAssemblyInfo.cache
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.MvcApplicationPartsAssemblyInfo.cs
MusicManager/MusicManager/obj/Release/net6.0/MusicManager.pdb
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets.build.json
MusicManager/MusicManager/obj/Release/net6.0/ref/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/refint/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.build.MusicManager.props
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.MusicManager.props
MusicManager/MusicManager/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.MusicManager.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MusicManager/MusicManager/obj/Release/net6.0/win-x64/apphost.exe
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.AssemblyInfo.cs
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.AssemblyInfoInputs.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.assets.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.csproj.AssemblyReference.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.csproj.CopyComplete
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.csproj.CoreCompileInputs.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.csproj.FileListAbsolute.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.deps.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.GeneratedMSBuildEditorConfig.editorconfig
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.genruntimeconfig.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.GlobalUsings.g.cs
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.MvcApplicationPartsAssemblyInfo.cache
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.MvcApplicationPartsAssemblyInfo.cs
MusicManager/MusicManager/obj/Release/net6.0/win-x64/MusicManager.pdb
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PublishOutputs.ce4d4722ee.txt
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.build.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets.publish.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/appsettings.Development.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/appsettings.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/AutoMapper.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/BouncyCastle.Cryptography.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/EPPlus.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/EPPlus.Interfaces.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/EPPlus.System.Drawing.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MailKit.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.AspNetCore.Authentication.JwtBearer.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.AspNetCore.Cryptography.Internal.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Data.SqlClient.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Data.SqlClient.SNI.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.EntityFrameworkCore.SqlServer.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Caching.Abstractions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Caching.Memory.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Configuration.Abstractions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Configuration.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Configuration.FileExtensions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Configuration.Json.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.DependencyInjection.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.FileProviders.Abstractions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.FileProviders.Physical.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.FileSystemGlobbing.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Identity.Core.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Identity.Stores.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Logging.Abstractions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Logging.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Options.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.Primitives.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Identity.Client.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IdentityModel.Abstractions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IdentityModel.JsonWebTokens.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IdentityModel.Logging.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IdentityModel.Protocols.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IdentityModel.Tokens.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.IO.RecyclableMemoryStream.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.OpenApi.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Win32.SystemEvents.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MimeKit.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.deps.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.exe
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.pdb
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/MusicManager.runtimeconfig.json
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Collections.Immutable.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Configuration.ConfigurationManager.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Diagnostics.DiagnosticSource.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Drawing.Common.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Formats.Asn1.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.IdentityModel.Tokens.Jwt.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Runtime.Caching.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Security.Cryptography.Pkcs.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Security.Cryptography.ProtectedData.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Security.Permissions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Text.Encoding.CodePages.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Text.Encodings.Web.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Text.Json.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/System.Windows.Extensions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/web.config
MusicManager/MusicManager/obj/Release/net6.0/win-x64/ref/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/refint/MusicManager.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.build.MusicManager.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.buildMultiTargeting.MusicManager.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/staticwebassets/msbuild.buildTransitive.MusicManager.props
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Azure.Core.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Azure.Identity.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/EFCore.BulkExtensions.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Bcl.AsyncInterfaces.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Data.Sqlite.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.EntityFrameworkCore.Sqlite.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Extensions.DependencyModel.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.Identity.Client.Extensions.Msal.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/NetTopologySuite.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/NetTopologySuite.IO.SqlServerBytes.dll
MusicManager/MusicManager/obj/Release/net6.0/win-x64/PubTmp/Out/SQLitePCLRaw.core.dll
